<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- PouchDB -->
    <script src="lib/pouchdb-2.2.3.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="app" ng-controller="AppController">
    <ion-nav-bar class="nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view animation="slide-left-right-ios7"></ion-nav-view>

    
    <!-- Home View -->
    <script id="home.html" type="text/ng-template">
      <ion-view title="Choose player">
        <ion-content has-bouncing="false">
          <div class="list">
            <label class="item item-radio" ng-repeat="player in players" ng-click="choosePlayer(player)">
              <input type="radio" name="players" ng-checked="player.name == selectedPlayer.name">
              <div class="item item-avatar">
                 <img src="{{player.img}}"> 
                 <h2>{{ player.name }} </h2>
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>
          </div>
          <a class="button button-full button-calm" href="#/play" ng-disabled="!isBeacon">Join Game</a>
          <p class="text-center" ng-show="selectedPlayer.name">
            <small>{{ selectedPlayer.major }} / {{selectedPlayer.minor }}<br>{{ selectedPlayer.id }}</small>
          </p>


            <h2>Gamestatus</h2>
            <div>
                Current gamestatus: <span ng-bind="gamestatus.status"></span><br>
                Set gamestatus:<br>
                <input type="text" ng-model="gamestatus.status" style="border: 1px solid;width:200px" /><button ng-click="storeGamestatus()">Store in DB</button>
            </div>

            <h2>attacks</h2>
            <div>
                Current Attacks:
                <div ng-repeat="attack in attacks">attacker: {{attack.attacker}}, victim: {{attack.victim}} <a href="" ng-click="removeAttack(attack._id)">remove</a></div>
            </div>

            <h2>stealings</h2>
            <div>
                Current Stealings:
                <div ng-repeat="stealing in stealings">attacker: {{stealing.attacker}}, victim: {{stealing.victim}} <a href="" ng-click="removeStealing(stealing._id)">remove</a></div>

                New Victim: <input type="text" ng-model="form.newStealingVictim" style="border: 1px solid;width:100px" /><button ng-click="steal()">Steal!</button>
            </div>
        </ion-content>
      </ion-view>
    </script>

    <!-- Play View -->
    <script id="play.html" type="text/ng-template">
      <ion-view title="Key Hunter - {{ selectedPlayer.name }}">
        <ion-content>
          <div class="row">
            <div class="col col-33 text-center" ng-repeat="key in selectedPlayer.keys">
              <button class="button button-large icon ion-key" ng-class="key.state" ></button>
            </div>
          </div>

          <!-- Key download progress -->
          <!-- Find last key -->

          <!-- UL: does ion-card exist? -->
          <ion-card>
            <div id="progressBar" ng-show="download.state" >
                <progress max="100" value="{{ download.value }}"></progress>
                wwwwwww{{runningAttack.state}}xxxxxxx
            </div>
            <!-- UL: item needs to be wrapped in ion-list -->
            <div class="item item-divider">
              Masterkey
            </div>
            <div class="item item-text-wrap">
              You collected all keys, go find the last key!
            </div>
          </ion-card>
          <ion-list ng-show="!underAttack">
            <div class="item item-divider">
              Players nearby
            </div>
            <a class="item item-avatar item-button-right" ng-repeat="beacon in beaconsInRange | filter: filterPlayerBeacons | orderBy: 'distance'" ng-click="attack(beacon)">
                <img ng-src="{{ beaconToPlayerImage[beacon.major+''+beacon.minor] }}"> 
                <h2>{{ beaconToPlayerName[beacon.major+""+beacon.minor] }}</h2>
                <small>{{ formatDistance(beacon.distance) }}</small>
                <!--
                <button class="button button-large button-royal" ng-click="attack(beacon)">
                  <i class="icon ion-flash"></i>
                </button>
                -->
            </a>
          </ion-list>
          <div class="list card" ng-show="underAttack">
            <div class="item item-divider">
              You are under attack!
            </div>
            <div class="item item-text-wrap">
              <img class="full-image" src="assets/warning.png">
              <p class="text-center">Run if you dont want to lose the key.</p>
              <button class="button button-block button-calm" ng-click="defend()">Simuliere abhauen</button>
            </div>
          </div>
        </ion-content>
        <!-- Attacked / view cool down (active/inactive) -->
        <ion-footer-bar align-title="left" class="bar-assertive" ng-show="attackTimeOut">
            <div class="title ion-clock"> You can not attack for {{attackTimeOut.seconds}} seconds</div>
        </ion-footer-bar>
      </ion-view>
    </script>

    <!-- End View -->

<!-- 

          // <div id="progressBar" ng-show="download.state" >
          //   <progress max="100" value="{{ download.value }}"></progress>
          // </div>

                  // <div class="list">

                  //     <a class="item item-avatar" href="#">
                  //         <img src="assets/128.jpg">
                  //         <h2>Venkman</h2>
                  //         <p>Back off, man. Im a scientist.</p>
                  //     </a>
                  //     <a class="item item-avatar" href="#">
                  //         <img src="assets/128.jpg">
                  //         <h2>Venkman</h2>
                  //         <p>Back off, man. Im a scientist.</p>
                  //     </a>

                  // </div>

                  // <ul class="list">
                  //     <li class="item" ng-repeat="beacon in beacons">
                  //       <h2>{{ beacon.major }} / {{ beacon.minor }}</h2>
                  //       <p>{{ beacon.distance }}</p>
                  //     </li>
                  // </ul>
                  
                  //  <div class="item item-image hide">
                  //         <img src="assets/hourglass.png" style="width:50%;height:50%">
                  //         <h2>Attack failed!</h2>
                  //         <p>{{attack.value}} sec</p>
                  // </div>
      <script id="end.html" type="text/ng-template">
      <ion-view title="Key Hunter - Won" class="padding">
    <ion-content class="padding">
                  <div class="list card">
                      <div class="item item-image">
                          <img src="assets/128.jpg">
                      </div>

                      <div class="item item-avatar">
                          <h2>Youve won!</h2>
                      </div>
                  </div>

                  <p>
                      <a class="button button-block button-positive" href="#/play">Join a new Game</a>
                  </p>
              </ion-content>
      </ion-view>
      
    </script>
    
      

    <script id="attacked.html" type="text/ng-template">
          <ion-view title="Key Hunter - Playing" class="padding">
              <ion-content>
                  <div class="row">
                      <div class="col" ng-repeat="key in keys">
                          <button class="button icon ion-key" ng-class="key.state" ></button>
                      </div>
                  </div>

                  <div class="item item-image">
                          <img src="assets/warning.png">
                          <h2>You are under attack!</h2>
                          <p>Run if you dont want to lose the key.</p>
                  </div>
              </ion-content>
          </ion-view>
      </script>
 -->
      <!--
      <ion-content id="beacontest">
        <ul class="list">
            <li class="item" ng-repeat="beacon in beacons">
              <h2>{{ beacon.major }} / {{ beacon.major }}</h2>
              <p>{{ beacon.distance }}</p>
            </li>
        </ul>
      </ion-content>
      -->
  </body>
</html>
